.country-name {
  font-size: 24px;
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none !important;
}

.population {
  font-size: 20px;
  color: black;
}

.country-population {
  font-size: 16px;
  color: black;
}

.search {
  border: 0;
  background-color: #cd4275;
  outline: none;
}

.search::placeholder {
  color: white;
}

.covid-contain {
  background-color: #cd4275;
}

.my-card {
  background-color: #ec4e8a !important;
}
