* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

nav {
  background-color: #ec4e8a;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.covid-header {
  font-size: 24px;
}